/* 
ch. 2, HTML Structure & Layout with Sally's Interests

.pageHeader {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.shop {
    flex-basis: 25%;
    border: 1px dotted black;
    padding: 0.25em;
    text-align: left;
} */